absl_py==2.3.1
catboost==1.2.7
contourpy==1.3.1
cycler==0.12.1
filelock==3.19.1
fonttools==4.59.1
fsspec==2025.7.0
graphviz==0.21
grpcio==1.73.0
h5py==3.13.0
imageio==2.37.0
jinja2==3.1.6
joblib==1.5.2
kiwisolver==1.4.8
lightgbm==4.5.0
Markdown==3.9
MarkupSafe==2.1.5
matplotlib==3.10.1
mpmath==1.3.0
narwhals==2.5.0
networkx==3.5
numpy==1.26.4
packaging==25.0
pandas==2.2.3
pillow==11.1.0
Pillow_SIMD==9.5.0.post2
plotly==6.3.0
protobuf==6.32.1
psutil==7.0.0
psutils==3.3.11
puremagic==1.30
pyparsing==3.2.3
pypdf==6.1.0
python_dateutil==2.9.0.post0
pytz==2025.2
scikit_learn==1.7.1
scipy==1.15.2
seaborn==0.13.2
six==1.17.0
sympy==1.14.0
tensorboard==2.20.0
tensorboard_data_server==0.7.2
threadpoolctl==3.6.0
torch==2.7.1
torchvision==0.22.1
tqdm==4.67.1
typing_extensions==4.14.1
tzdata==2025.2
werkzeug==3.1.3
xgboost==3.0.2
